<!DOCTYPE html>
<html>
  <head>
    <title>Home | MovieLibrary</title>
  </head>
  <body>
    <h1>MovieLibrary</h1>
    <p>
      This is the home page for the MovieLibrary website
    </p>
  </body>
</html>
